<form class="teaseProductForm" action="{{ product.link }}" method="post" data-product_id="{{ product.id }}">
    <label class="teaseProductFormQuantityLabel">
        <span>Ilość:</span>
        <input type="number" name="quantity" min="1" max="{{ product.maxQuantity }}"
               value="1" class="teaseProductFormQuantity gradientInput textAlignCenter">
    </label>
    {% if product.isVariable and product.variable.variations != [] %}
        <div class="customSelect">
            <span>{{ product.variable.variations[0].variationLabel|capitalize }}:</span>
            <div class="customSelectSelected colorSilver flexCenterCenter" data-variation_id="">Wybierz opcję</div>
            <div class="customSelectItemsContainer hide">
                {% for variation in product.variable.variations %}
                    <div class="customSelectItem colorSilver" data-variation_id="{{ variation.id }}"
                         data-image_src="{{ variation.imageSrc }}" data-image_alt="{{ variation.imageAlt }}"
                         data-max_quantity="{{ variation.maxQuantity }}"
                         data-price="{{ variation.price }}">{{ variation.name }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <label class="teaseProductFormSubmitLabel">
        <button type="submit" class="teaseProductFormSubmit buttonBlackAnimated borderRadiusTenTopFiftyBottom"
                {% if product.isVariable %}disabled{% endif %}>Dodaj do koszyka</button>
        {#            <input type="submit" class="teaseProductFormSubmit" value="Dodaj do koszyka"#}
        {#                   {% if product.isVariable %}disabled{% endif %}>#}
    </label>
</form>