<form {% if location %}id='{{ location }}ContactForm' {% endif %}
      class='contactForm textAlignCenter' method='post' action='#' data-url='{{ fn('admin_url', 'admin-ajax.php') }}'>
    <div {% if location %}id='{{ location }}ContactFormSuccessInfo' {% endif %}
         class='contactFormSuccessInfo textAlignCenter flexCenterCenter'>
        <span class="flexCenterCenter textAlignCenter colorSilver">Wiadomość została wysłana poprawnie!</span>
    </div>
    <div {% if location %}id='{{ location }}ContactFormFailInfo' {% endif %}
         class='contactFormFailInfo textAlignCenter flexCenterCenter'>
        <span class="flexCenterCenter textAlignCenter colorSilver">Wystąpił problem z Twoją wiadomością, spróbuj ponownie</span>
    </div>

    <label {% if location %}id='{{ location }}ContactFormNameLabel' {% endif %} class='contactFormNameLabel'>
        <span>Twoje imię*</span>
        <input type='text' name='name' pattern='[a-zA-Z0-9 ]+' maxlength='50'
               class="contactFormName gradientInput"
               oninvalid='this.setCustomValidity("Wprowadź poprawne imię używając tylko liter.")'
               title='Wprowadź poprawne imię używając tylko liter.'
               oninput='this.setCustomValidity("")'
               placeholder='Twoje imię*' required>
    </label>

    <label {% if location %}id='{{ location }}ContactFormEmailLabel' {% endif %}class='contactFormEmailLabel'>
        <span>Twój email*</span>
        <input type='email' name='email' maxlength='80' placeholder='Twój email*'
               class="contactFormEmail gradientInput"
               pattern='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$' required
               title='Wprowadź poprawny email, przykład: przyklad@przyklad.przyklad'
               oninvalid='this.setCustomValidity("Wprowadź poprawny email, przykład: przyklad@przyklad.przyklad")'
               oninput='this.setCustomValidity("")'>
    </label>

    <label {% if location %}id='{{ location }}ContactFormMessageLabel' {% endif %}class='contactFormMessageLabel'>
        <span>Twoja wiadomość*</span>
        <textarea name='message' class="contactFormMessage gradientInput"
                  maxlength='1000' placeholder='Wiadomość*' rows=7 required></textarea>
    </label>
    <div class="contactFormSubmitContainer gradientButton">
        <input {% if location %}id='{{ location }}ContactFormSubmit' {% endif %}
               class='contactFormSubmit blackGradientSubmit' name='submit' type='submit' value='Wyślij'>
    </div>
</form>