<nav id="ftrNav" class="flexCenterCenter">
    <ul id="ftrNavList" class="flexCenterCenter">
        <li class="ftrNavListItem textAlignCenter">
            <a href="{{ fn('get_privacy_policy_url') }}">Regulamin Sklepu</a>
        </li>
        <li class="ftrNavListItem textAlignCenter">
            <a href="{{ site.url }}/faq">Najczęściej zadawane pytania</a>
        </li>
        <li class="ftrNavListItem textAlignCenter">
            <a href="{{ site.url }}/o-nas">O nas</a>
        </li>
        <li class="ftrNavListItem textAlignCenter">
            <a href="{{ site.url }}/kontakt">Kontakt</a>
        </li>
    </ul>
</nav>
<div id="ftrInfo" class="flexCenterCenter">
    <ul id="ftrInfoList" class="flexCenterCenter">
        <li class="ftrInfoListItem">
            <span>Email: </span><a href="mailto:{{ site.admin_email }}" class="fontBold">{{ site.admin_email }}</a>
        </li>
        <li class="ftrInfoListItem">
            <span>Numer tel.: </span><a href="tel:+48785807958" class="fontBold">(+48) 785 807 958</a>
        </li>
    </ul>
</div>
<section id='ftrCopyright'>
    <p class='textAlignCenter'>Copyright &#169; {{'now'|date('Y')}} {{ site.name }}.pl</p>
</section>