<div id="hdrContainer">
    <h1 id='hdrLogo'>
        <a id='hdrLogoLink' class='colorSilver flexCenterCenter textAlignCenter' href='{{site.url}}' rel='home'>
            <figure id="hdrBannerContainer">
                <img id="hdrBanner" src="{{ fn('getImgDir') }}/logo.webp" alt="2ele.pl Logo">
            </figure>
        </a>
    </h1>
    <nav id="hdrMenu">
        <ul id="hdrMenuList" class="listStyleNone">
            <li class="hdrMenuListItem mobileHide hdrMenuListItemInfo"><a href="tel:+48785807958">(+48) 785 807 958</a></li>
            <li class="hdrMenuListItem mobileHide hdrMenuListItemInfo"><a href="mailto:{{ site.admin_email }}">{{ site.admin_email }}</a></li>
            <li class="hdrMenuListItem gradientButton"><a href="{{ fn('getAccountUrl') }}" class="flexCenterCenter">
                {% if fn('isUserLogged')%}
                    Moje konto
                {% else %}
                    Logowanie / Rejestracja
                {% endif %}
                </a></li>
            <li class="hdrMenuListItem gradientButton"><a href="{{ fn('wc_get_cart_url') }}" class="flexCenterCenter">Koszyk</a></li>
        </ul>
    </nav>
</div>
