<div id="hdrContainer">
    <h1 id='hdrLogo'>
        <a id='hdrLogoLink' class='colorSilver flexCenterCenter textAlignCenter' href='{{site.url}}' rel='home'>
            <figure id="hdrBannerContainer">
                <img id="hdrBanner" src="{{ fn('getImgDir') }}/logo.webp" alt="2ele.pl Logo">
            </figure>
        </a>
    </h1>
    <ul id="hdrContactInfoList" class="listStyleNone">
        <li class="hdrContactInfoListItem"><a href="tel:+48785807958" class="silverLink">(+48) 785 807 958</a></li>
        <li class="hdrContactInfoListItem"><a href="mailto:{{ site.admin_email }}" class="silverLink">{{ site.admin_email }}</a></li>
    </ul>
    <nav id="hdrMenu">
        <ul id="hdrMenuList" class="listStyleNone flexCenterCenter">
            <li class="hdrMenuListItem">
                <a href="{{ fn('getAccountUrl') }}" class="flexCenterCenter buttonBlackAnimated borderRadiusTen">
                    {% if fn('isUserLogged')%}
                        Moje konto
                    {% else %}
                        Logowanie / Rejestracja
                    {% endif %}
                </a>
            </li>
            <li class="hdrMenuListItem">
                <a href="{{ fn('wc_get_cart_url') }}" class="flexCenterCenter buttonBlackAnimated borderRadiusTen">
                    Koszyk
                </a>
            </li>
        </ul>
    </nav>
</div>
