{% if menu %}
	<ul {% if menuType %}id='{{ menuType }}NavList'{% endif %} class='navList flexCenterCenter'>
		{% for item in items %}
			<li class='{% if menuType %}{{ menuType }}NavListItem {% else %}navListItem {% endif %}{{ navItemAnimation }}'>
				<a class='textAlignCenter colorSilver flexCenterCenter fontBold'
                   href='{{ item.link }}'>{{ item.title }}</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
