{% if menu %}
    {% set type = (menuType ~ 'NavList')|default('navList') %}
	<ul {% if menuType %}id='{{ type }}'{% endif %} class='navList listStyleNone'>
		{% for item in items %}
			<li class='{{ type }}Item {{ navItemAnimation }} transitionEase borderRadiusTen'>
				<a class='{{ type }}ItemAnchor textAlignCenter colorSilver fontBold' href='{{ item.link }}'>{{ item.title }}</a>
                {% if item.children %}
                    <button class="{{ type }}ItemSubListExpandButton"></button>
                    <ul class='{{ type }}ItemSubList navList listStyleNone transitionEase'>
                        {% for children in item.children %}
                            <li class='{{ navItemAnimation }}'>
                                <a class='textAlignCenter colorSilver flexCenterCenter fontBold'
                                   href='{{ children.link }}'>{{ children.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
