<section id="hdrNewsletter" class="colorSilver flexCenterCenter textAlignCenter">
    {% if newsletter.title %}
    <h4 id='hdrNewsletterTitle'>{{ newsletter.title }}</h4>
    {% endif %}
    <form method='post' action='{{ newsletter.action }}' id='hdrNewsletterForm' class="flexCenterCenter">
        {% if newsletter.name %}
            <label id='hdrNewsletterNameLabel' data-before="">
                <span>{{ newsletter.name.label }}</span>
                <input name='name' type='text' required pattern='[a-zA-Z ]+'
                       placeholder='Twoje imię...'
                       id="hdrNewsletterNameInput"
                       oninvalid='this.setCustomValidity("Podaj swoje imię używając tylko liter.")'
                       title='Insert proper name using only letters.'
                       class="gradientInput"
                       oninput='setCustomValidity("")'>
            </label>
        {% endif %}
        <label id='hdrNewsletterEmailLabel'>
            <span>{{ newsletter.email.label }}</span>
            <input name='email' type='email' required
                   id="hdrNewsletterEmailInput"
                   pattern='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$'
                   placeholder='Twój email...'
                   title='Podaj poprawny email, przykład: przyklad@przyklad.przyklad'
                   oninvalid='this.setCustomValidity("Podaj poprawny email, przykład: przyklad@przyklad.przyklad")'
                   class="gradientInput"
                   oninput='setCustomValidity("")'>
        </label>
        <button id="hdrNewsletterSubmit" class="flexCenterCenter buttonBlackAnimated borderRadiusTen">
            {{ newsletter.button.text }}
        </button>
    </form>
</section>