{% if pagination.pages is not empty %}
    <nav class="pagination">
        <ul class="paginationList">
            {% if currentPage > 1 %}
                <li>
                    <a href="{{ pagination.prev.link }}" data-page="{{ currentPage - 1 }}"
                       class="paginationElement paginationLink prev flexCenterCenter"><</a>
                </li>
            {% endif %}
            {% set isNext = false %}
            {% for page in pagination.pages %}
                {% if page.link %}
                    <li>
                        <a href="{{ page.link }}" data-page="{{ page.title }}"
                           class="paginationElement paginationLink paginationLinkNum {% if isNext %}nextNum{% else %}prevNum{% endif %} flexCenterCenter">
                            {{ page.title }}</a>
                    </li>
                {% elseif page.title|number_format == currentPage %}
                    {% set isNext = true %}
                    <li>
                        <span class="paginationElement current flexCenterCenter">{{ page.title }}</span>
                    </li>
                {% else %}
                    <li>
                        <span class="paginationElement dots {% if isNext %}nextDots{% else %}prevDots{% endif %} flexCenterCenter">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}
{#            <li class="paginationPageInput gradientButton">#}
{#                <span class="flexCenterCenter">Strona </span>#}
{#                <input type="number" value="{{ currentPage }}" min="1" max="{{ pagination.pages|last.title }}"#}
{#                       class="paginationInput textAlignCenter">#}
{#                <span class="flexCenterCenter">z </span>#}
{#                <span class="flexCenterCenter">{{ pagination.pages|last.title }}</span>#}
{#            </li>#}
            {% if currentPage < pagination.pages|last.title|number_format %}
                <li>
                    <a href="{{ pagination.next.link }}" data-page="{{ currentPage + 1 }}"
                       class="paginationElement paginationLink next flexCenterCenter">></a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}