<article {{ fn('post_class', ['$classes', 'entry', 'teaseProduct'] ) }}>
    {{ fn('timber_set_product', post) }}
    <a class='teaseProductAnchor textAlignCenter' href='{{ post.link }}' data-product_id="{{ post.id }}">
        <header class='teaseProductHeader'>
            <figure class='teaseProductPictureContainer flexCenterCenter'>
                <img class='teaseProductPicture' src='{{ post.thumbnail.src }}' alt='{{ post.thumbnail.alt }}'/>
            </figure>
            <h3 class='teaseProductTitle'>{{ post.title }}</h3>
        </header>
        <div class='teaseProductPrice'>
            <span class="teaseProductRegularPrice">{{ fn('getProductRegularPrice', post.id)|number_format(2, ',') }} zł</span>
            {% if fn('getProductSalePrice', post.id) %}
                <span class="teaseProductSalePrice">{{ fn('getProductSalePrice', post.id)|number_format(2, ',') }} zł</span>
            {% endif %}
        </div>
        <footer class='teaseProductMoreButton flexCenterCenter'>
            Więcej
        </footer>
    </a>
</article>