<section class="cartWidget">
    <div class="cartNotices">
        {% if cartNotices %}
            <ul>
            {% for cartNotice in cartNotices %}
                <li>
                    {{ cartNotice }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <table class="cartItems themeTable themeTableMobile">
        <thead>
            <tr>
                <th colspan="2">Produkt</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th>Kwota</th>
                <th>Usunąć z koszyka?</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr class="cartItem" data-product_id="{{ product.id }}"
                {% if product.variationID %}data-variation_id="{{ product.variationID }}"{% endif %}
                data-product_key="{{ product.key }}">
                <td class="cartItemImgTD">
                    <a href="{{ product.url }}">
                        <figure class="cartItemImgContainer flexCenterCenter imgContainer">
                            <img class="cartItemImg" src="{{ product.imgSrc }}" alt="{{ product.imgAlt }}">
                        </figure>
                    </a>
                </td>
                <td data-title="Produkt">
                    <a href="{{ product.url }}" class="blackLink">
                        <h3 class="cartItemTitle">{{ product.title }}</h3>
                    </a>
                </td>
                <td data-title="Cena">
                    <div class="cartItemPrice">
                        {% if product.regularPrice %}
                            <span class="cartItemRegularPrice">{{ product.regularPrice|number_format(2, ',') }} zł</span>
                        {% endif %}
                        <span>{{ product.price|number_format(2, ',') }} zł</span>
                    </div>
                </td>
                <td data-title="Ilość">
                    <label class="cartItemQuantityLabel">
                        <input class="cartItemQuantity gradientInput"
                               type=number min=1 max="{{ product.maxQuantity }}" value="{{ product.quantity }}" >
                    </label>
                </td>
                <td data-title="Kwota">
                    <div class="cartItemTotal">
                        <span>{{ (product.price * product.quantity)|number_format(2,',') }} zł</span>
                    </div>
                </td>
                <td data-title="Usunąć z koszyka?">
                    <a href="{{ product.removeUrl }}" class="cartItemRemove closeSign"></a>
                </td>
            </tr>
            <tr class="empty">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <footer class="cartSummary">
        {% if gift.enabled %}
            <section id="cartGift">
                <h3 class="header3Gradient">Odbierz prezent</h3>
                <div id="cartGiftMessage" class="textAlignCenter">{{ gift.message }}</div>
            </section>
        {% endif %}
        <section id="cartCoupon">
            <h3 class="header3Gradient">Masz kupon rabatowy?</h3>
            <div id="cartCouponMessage" class="textAlignCenter"></div>
            <form id="cartCouponForm" method="post">
                <label id="cartCouponLabel">
                    <input name="coupon_code" placeholder="Wpisz tutaj kupon..." type="text" id="cartCouponInput" class="gradientInput">
                </label>
                <button type="submit" id="cartCouponSubmit" class="buttonBlackAnimated borderRadiusTen" name="apply_coupon">Aktywuj</button>
            </form>
        </section>
        <section id="cartTotals">
            {% include 'partials/widgets/cart/totals.twig' %}
        </section>
    </footer>
</section>