<section class="orderWidget{% if isPopup and isPopup == "true" %} orderWidgetPopup borderRadiusTen{% endif %}">
    <div class="orderWidgetContentWrapper">
        {% if isPopup and isPopup == "true" %}
            <header class="orderWidgetPopUpHeader">
                <h1 class="header1Gradient">Koszyk</h1>
                <div class="orderWidgetCloseButtonContainer">
                    <button class="orderWidgetCloseButton closeSign"></button>
                </div>
            </header>

        {% endif %}

        {% set stagesNames = ['Koszyk', 'Logowanie', 'Dane zamówienia', 'Podsumowanie i dostawa', 'Płatność'] %}
        <ul class="orderWidgetStages listStyleNone textAlignCenter">
            <li class="orderWidgetStage active current">Koszyk</li>
            <li class="orderWidgetStage">Logowanie</li>
            <li class="orderWidgetStage">Formularz</li>
            <li class="orderWidgetStage">Podsumowanie i dostawa</li>
            <li class="orderWidgetStage">Płatność</li>
        </ul>
        <section class="orderWidgetStageContent">

            {% if stage == 0 %}
                {% include ['partials/widgets/cartWidget.twig'] %}
            {% elseif stage == 1 %}
                {% include ['partials/widgets/loginWidget.twig'] %}
            {% elseif stage == 2 %}
                {% include ['partials/widgets/checkoutWidget.twig'] %}
            {% elseif stage == 3 %}

            {% elseif stage == 4 %}

            {% elseif stage == 5 %}

            {% else %}

            {% endif %}

        </section>
        <nav class="orderWidgetNav">
{#            {% if stage > 0 %}#}
{#                <div class="orderWidgetPreviousButtonContainer gradientButton">#}
{#                    <button class="orderWidgetPreviousButton orderWidgetPaginationLink"><< {{ stagesNames[stage - 1] }}</button>#}
{#                </div>#}
{#            {% endif %}#}
{#            {% if stage + 1 < stagesNames|length  and stage + 1 < 2 %}#}
{#                <div class="orderWidgetNextButtonContainer gradientButton">#}
{#                    <button class="orderWidgetNextButton orderWidgetPaginationLink">{{ stagesNames[stage + 1] }} >></button>#}
{#                </div>#}
{#            {% endif %}#}

{#            {% if stage + 1 >= 2 %}#}
{#                <div class="orderWidgetNextButtonContainer gradientButton">#}
{#                    <a href='{{ fn('getCheckoutUrl') }}' class="orderWidgetNextLink orderWidgetPaginationLink">{{ stagesNames[stage + 1] }} >></a>#}
{#                </div>#}
{#            {% endif %}#}
            <div class="orderWidgetNextButtonContainer">
                <a href='{{ fn('getCheckoutUrl') }}'
                   class="orderWidgetNextLink orderWidgetPaginationLink flexCenterCenter buttonBlackAnimated borderRadiusTen">
                    Zamówienie >></a>
            </div>
        </nav>

        <noscript>
            <div class="orderWidgetCheckoutButtonContainer">
                <a href="{{ fn('getCheckoutUrl') }}"
                   class="orderWidgetNextButton orderWidgetPaginationLink blackButtonAnimated"
                   data-stage="{{ nextStage }}" data-direction="next">Zamówienie >></a>
            </div>
        </noscript>
    </div>
</section>