<form {% if searchType %}id='{{ searchType }}Search'{% endif %} class="search" method="get" action="{{fn("home_url", '/')}}">
    <label class="searchFieldLabel">
        <input type="text" class="searchField gradientInput" name="s"
               placeholder="Szukaj..." value="{{ fn('the_search_query') }}">
    </label>
    <div class="searchResults"></div>
    <input type="hidden" name="post_type[]" value="product" />
    <div {% if searchType %}id='{{ searchType }}SearchSubmitContainer'{% endif %} class="gradientButton">
        <input {% if searchType %}id='{{ searchType }}SearchSubmit'{% endif %} type="submit" value="Szukaj">
    </div>
</form>