<nav id="ftrNav" class="flexCenterCenter colorSilver">
    <ul id="ftrNavList" class="flexCenterCenter listStyleNone">
        {% for item in menu.footer.get_items %}
            <li class="ftrNavListItem textAlignCenter">
                <a href="{{ item.link }}" class="silverLink">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
<div id="ftrInfo" class="flexCenterCenter textAlignCenter colorSilver">
    <ul id="ftrInfoList" class="flexCenterCenter listStyleNone">
        <li class="ftrInfoListItem">
            <span>Email: </span><a href="mailto:{{ site.admin_email }}" class="fontBold silverLink">{{ site.admin_email }}</a>
        </li>
        <li class="ftrInfoListItem">
            <span>Numer tel.: </span><a href="tel:+48785807958" class="fontBold silverLink">(+48) 785 807 958</a>
        </li>
    </ul>
</div>
<section id='ftrCopyright'>
    <p class='textAlignCenter'>Copyright &#169; {{'now'|date('Y')}} {{ site.name }}</p>
</section>