<div id="hdrContainer">
    <figure id="hdrLogoContainer" class="imgContainer">
        <a id='hdrLogoLink' class='colorSilver flexCenterCenter textAlignCenter' href='{{site.url}}' rel='home'>
                <img id="hdrLogo" src="{{ fn('getImgDir') }}/logo2.webp" alt="2ele.pl Logo">
        </a>
    </figure>
    <ul id="hdrContactInfoList" class="listStyleNone">
        <li class="hdrContactInfoListItem"><a href="tel:+48785807958" class="silverLink">(+48) 785 807 958</a></li>
        <li class="hdrContactInfoListItem"><a href="mailto:{{ site.admin_email }}" class="silverLink">{{ site.admin_email }}</a></li>
    </ul>
    <nav id="hdrMenu">
        <ul id="hdrMenuList" class="listStyleNone flexCenterCenter">
            <li class="hdrMenuListItem">
                <a href="{{ fn('getAccountUrl') }}" class="flexCenterCenter buttonBlackAnimated borderRadiusTen">
                    {% if fn('isUserLogged')%}
                        Moje konto
                    {% else %}
                        Logowanie / Rejestracja
                    {% endif %}
                </a>
            </li>
            <li class="hdrMenuListItem">
                <a href="{{ fn('wc_get_cart_url') }}" class="flexCenterCenter buttonBlackAnimated borderRadiusTen">
                    Koszyk
                </a>
            </li>
        </ul>
    </nav>
</div>
