{% block html_head_container %}
    {% include 'partials/base/html-header.twig' %}
        {% block head %}
        {% endblock %}
        </head>
    {% endblock %}
	<body class='{{body_class}}' data-template='base.twig'>
        <div id='siteContainer'>
            {% block header %}
                <header id='siteHeader'>
                    {% include 'partials/base/header.twig' %}
                </header>
            {% endblock %}
            <main id="siteMain">
                <nav id="shopNav" class="transitionEase">
                    {% block nav %}
                        {% include 'partials/base/nav.twig' with {'navType': 'shop'} %}
                    {% endblock %}
                </nav>
                <section id="siteMainContent">
                    {% if title %}
                        <header id='pageHeader'>
                            <h1 id='pageTitle' class='header1Gradient'>{{ title }}</h1>
                        </header>
                    {% elseif post.title %}
                        <header id='pageHeader'>
                            <h1 id='pageTitle' class='header1Gradient'>{{ post.title }}</h1>
                        </header>
                    {% endif %}
                    <div id='pageContent'>
                        {% block content %}
                            <div id="wordpressDefault">
                                {% if post.content %}
                                    {{post.content}}
                                {% else %}
                                    Przepraszamy, ta strona nie zawiera obecnie treści.
                                {% endif %}
                            </div>
                        {% endblock %}
                    </div>
                </section>
            </main>
            {% block floatingButtons %}
                {% include 'partials/base/floatingButtons.twig' %}
            {% endblock %}
            {% block footer %}
                <footer id='siteFooter' class='hashGradient'>
                    {% include 'partials/base/footer.twig' %}
                </footer>
                {{ function('wp_footer') }}
            {% endblock %}
        </div>
	</body>
</html>
