{% extends 'base.twig' %}

{% block content %}
    {% block shopContent %}
        {{post.content}}
    {% endblock %}
    {% block products %}
        <div id="shopPageProductListWidget" data-category="{{ title }}">
            {% if title %}
                <h1 class="header1Gradient">{{ title }}</h1>
            {% endif %}
            {% include ['partials/productListWidget.twig'] %}
        </div>
    {% endblock %}

    <div id="cartButton" class="flexCenterCenter">
        <figure id="cartButtonImgContainer" class="flexCenterCenter">
            <img src="{{ fn('getImgDir') }}/cart2.webp" id="cartButtonImg" alt="Cart icon">
        </figure>
        <a href="{{ fn('wc_get_cart_url') }}" id="cartButtonSummary" class="flexCenterCenter">
            <span id="cartButtonQuantity">{{ fn('getCartProductsQuantity') }}</span>
        </a>
    </div>
{% endblock %}