{% extends 'base.twig' %}

{% block content %}
    {% block shopContent %}
        {{post.content}}
    {% endblock %}
    {% block products %}
        <div id="shopPageProductListWidget" data-category="{{ title }}">
            {% if title %}
                <h1 class="header1Gradient">{{ title }}</h1>
            {% endif %}
            {% include ['partials/productListWidget.twig'] %}
        </div>
    {% endblock %}

    <div id="basketButton" class="flexCenterCenter">
        <img src="{{ fn('getImgDir') }}/basket.png" alt="Basket icon">
        <a href="{{ fn('wc_get_cart_url') }}" id="basketButtonSummary" class="flexCenterCenter">{{ fn('getCartProductsQuantity') }}</a>
    </div>
{% endblock %}