{% extends 'base.twig' %}

{% block content %}
    <article itemscope id="singleProduct" itemtype='http://schema.org/Product'>
        <div class="teaseProduct flexCenterCenter">
            {% set isVariableProduct = fn('isVariableProduct', post.id) %}
            <figure class='teaseProductPictureContainer flexCenterCenter'>
                <img class='teaseProductPicture' src='{{ post.thumbnail.src }}' alt='{{ post.thumbnail.alt }}'/>
            </figure>
            <div id="teaseProductContentWrapper" class="flexCenterCenter">
                <header class='teaseProductHeader'>
                    <h3 class='teaseProductTitle'>{{ post.title }}</h3>
                </header>
                {% include ['partials/teaseProduct/teaseProductPrice.twig'] %}
                {% include ['partials/teaseProduct/teaseProductFooter.twig'] %}
            </div>
        </div>
        <section id='singleProductDescription'>
            <h2 id='singleProductDescriptionHeader' class='flexCenterCenter textAlignCenter'>Opis produktu:</h2>
            <div id='singleProductDescriptionContent'>{{ post.content }}</div>
            <div id='singleProductRedirectToBuyAnchorContainer' class='buttonGradient'>
                <a href='#singleProduct' id='singleProductRedirectToBuyAnchor' class='textAlignCenter flexCenterCenter'>Kup teraz</a>
            </div>
        </section>
        <meta itemprop='url' content='{{ post.link }}' />
    </article>
{% endblock  %}